<div class="container">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">

<center><h1>Add Jobs Here</h1></center>
<br>
<br>
<div id="reg-box">
<span style="color:red">{{error.message}}</span>

<form>

<div class="form-group">
<label>Enter Job id :</label>
<input type="text" ng-model="job.job_id" class="form-control" placeholder="Enter Job Id">
</div>

<div class="form-group">
<label>Enter Job Title :</label>
<input type="text" ng-model="job.job_title" class="form-control" placeholder="Enter Job Title">
</div>

<div class="form-group">
<label>Enter Job Description : </label>
<input type="text" ng-model="job.job_description" class="form-control" placeholder="Enter Job Description">
</div>

<div class="form-group">
<label>Skill Required For Job : </label>
<input type="text" ng-model="job.job_description" class="form-control" placeholder="Enter Job Description">
</div>

<div class="form-group">
<label>Enter Job Location :</label>
<input type="text" ng-model="job.job_location" class="form-control" placeholder="Enter Job Location">
</div>

<div class="form-group">
<label>Enter Salary :</label>
<input type="text" ng-model="job.job_salary" class="form-control" placeholder="Enter Salary">
</div>

<div class="form-group">
<label>Enter Experience :</label>
<input type="text" ng-model="job.job_experience" class="form-control" placeholder="Enter Experience">
</div>

<input type="submit" class="btn btn-default" ng-click="addJob(job)" value="Add Job">

</form>
</div>
</div>
</div>
</div>