<div class="container">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">

<center><h1>Edit Your Profile</h1></center>
<br>
<br>
<div id="reg-box">
<span style="color:red">{{error.message}}</span>

<form>

<div class="form-group">
<label>Enter Email id :</label>
<input type="email" ng-model="user.email" class="form-control" placeholder="Enter email" disabled="disabled">
</div>

<div class="form-group">
<label>Enter Your Firstname :</label>
<input type="text" ng-model="user.firstname" class="form-control" placeholder="Enter firstname">
</div>

<div class="form-group">
<label>Enter Your Lastname :</label>
<input type="text" ng-model="user.lastname" class="form-control" placeholder="Enter lastname">
</div>

<div class="form-group">
<label>Enter Password : </label>
<input type="password" ng-model="user.password" class="form-control" placeholder="Enter password">
</div>

<div class="form-group">
<label>Enter Your Contact No : </label>
<input type="text" ng-model="user.phone" class="form-control" placeholder="Enter your No.">
</div>

<div class="form-group">
      <label>Select Role (select one):</label>
      <select ng-model="user.role">
        <option value="STUDENT">Student</option>
        <option value="EMPLOYEE">Employee</option>
        <option value="ALUMNI">Alumni</option>
        <option value="PROFESSIONAL">Professional</option>
      </select>
</div>

<input type="submit" class="btn btn-default" ng-click="updateUser(user)" value="Edit Profile">

</form>
</div>
</div>
</div>
</div>