<div class="container">
	<div class="row" style="width: 600px">
		<div class="panel panel-info">
			<div class="panel-heading">{{job.job_title}}</div>
			<div class="panel-body">
				<b> Company Name</b> : {{job.companyName}}<br>
				<b>Job Description</b> : {{job.job_description}}<br>
				<b>Skill Required </b> : {{job.job_skill}}<br>
				<b>Location</b> : {{job.job_location}}<br>
				<b>year Experience</b> : {{job.job_experience}}<br>
				<b>Salary</b> : {{job.job_salary}}<br>
				<b>Job Posted On</b> : {{job.job_postedOn}}<br>

			</div>
		</div>
	</div>
</div>
<a href="#!/alljobs">Back to Previous Page -> Get All Jobs</a>