<div class="container">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6 jumbotron">

<center><h2>Register Page</h2></center>
<br>
<br>
<div id="reg-box">
<span style="color:red">{{error.message}}</span>

<form name="register">

<div class="form-group">
<label>Enter Email id :</label>
<input type="email" ng-model="user.email" class="form-control" placeholder="Enter email">
</div>

<div class="form-group">
<label>Enter Your Firstname :</label>
<input type="text" ng-model="user.firstname" class="form-control" placeholder="Enter firstname">
</div>

<div class="form-group">
<label>Enter Your Lastname :</label>
<input type="text" ng-model="user.lastname" class="form-control" placeholder="Enter lastname">
</div>

<div class="form-group">
<label>Enter Password : </label>
<input type="password" ng-model="user.password" name="pass" class="form-control" placeholder="Enter password" pattern="[0-9]{6}">
<span ng-show="register.pass.$invalid">Please enter 6 character password</span>
</div>

<div class="form-group">
<label>Enter Your Contact No : </label>
<input type="text" ng-model="user.phone" name="phone" class="form-control" placeholder="Enter your No." pattern="[0-9]{10}">
<span ng-show="register.phone.$invalid">Invalid Number</span>
</div>

<div class="form-group">
      <label>Select Role (select one):</label>
      <select ng-model="user.role">
        <option value="STUDENT">Student</option>
        <option value="EMPLOYEE">Employee</option>
        <option value="ALUMNI">Alumni</option>
        <option value="PROFESSIONAL">Professional</option>
      </select>
</div>

<input type="submit" ng-disabled="register.phone.$untouched && register.pass.$untouched" class="btn btn-default" ng-click="registerUser(user)" value="Register">

</form>
</div>
</div>
</div>
</div>